/**
 * ---------------------------------------------------------------------
 *
 * Powered by Urich Souza 
 *
 * https://github.com/nihilzin
 *
 * @copyright 2023 Urich Souza and contributors.
 * 
 * ---------------------------------------------------------------------
 */

$info: #80abe4;
$enable-negative-margins: true;
$link-hover-decoration: none;

@import "fonts";
@import "~@tabler/core/src/scss/tabler";
@import "logos";
@import "includes";
