{#
 * ---------------------------------------------------------------------
 *
 * Powered by Urich Souza 
 *
 * https://github.com/nihilzin
 *
 * @copyright 2023 Urich Souza and contributors.
 * 
 * ---------------------------------------------------------------------
 #}


{% extends 'layout/page_card_notlogged.html.twig' %}

{% block content_block %}
<div class="alert alert-warning">
    <div class="d-flex align-items-center">
        <div class="me-4">
            <i class="ti ti-alert-triangle fa-2x"></i>
        </div>
        <div>
            <h4 class="alert-title">
                {{ __("Error") }}
            </h4>
            <div>
                {% for error in errors %}
                    {{ error }}<br />
                {% endfor %}
            </div>

            <a href="{{ login_url }}" class="btn btn-primary mt-3">
                <i class="ti ti-login"></i>
                <span>{{ __('Tente Novamente') }}</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
