/**
 * ---------------------------------------------------------------------
 *
 * Powered by Urich Souza 
 *
 * https://github.com/nihilzin
 *
 * @copyright 2023 Urich Souza and contributors.
 * 
 * ---------------------------------------------------------------------
 */

$primary: #8ec547;
$secondary: #768363;
$secondary-fg: #fcfcfc;
$link-color: #459436;
$mainmenu_bg: #459436;
$mainmenu_fg: #f4f6fa;
$logo: "../pics/logos/logo-GLPI-100-white.png";
$logo_reduced: "../pics/logos/logo-G-100-white.png";

@import "../includes/palette_light";
