/**
 * ---------------------------------------------------------------------
 *
 * Powered by Urich Souza 
 *
 * https://github.com/nihilzin
 *
 * @copyright 2023 Urich Souza and contributors.
 * 
 * ---------------------------------------------------------------------
 */

$primary: #f2b265;
$primary-fg: #8b4d34;
$secondary: #757575;
$secondary-fg: #f4f6fa;
$link-color: #c06f3d;
$mainmenu_bg: #8b4d34;
$mainmenu_fg: #f4f6fa;
$logo: "../pics/logos/logo-GLPI-100-white.png";
$logo_reduced: "../pics/logos/logo-G-100-white.png";

@import "../includes/palette_light";
