/**
 * ---------------------------------------------------------------------
 *
 * Powered by Urich Souza 
 *
 * https://github.com/nihilzin
 *
 * @copyright 2023 Urich Souza and contributors.
 * 
 * ---------------------------------------------------------------------
 */

$primary: #fec95c;
$primary-fg: #8f5a0a;
$secondary: #888373;
$primary-fg: #8f5a0a;
$link-color: #659900;
$mainmenu_bg: #98a458;
$mainmenu_fg: #000;
$logo: "../pics/logos/logo-GLPI-100-white.png";
$logo_reduced: "../pics/logos/logo-G-100-white.png";

@import "../includes/palette_light";
