/**
 * ---------------------------------------------------------------------
 *
 * Powered by Urich Souza 
 *
 * https://github.com/nihilzin
 *
 * @copyright 2023 Urich Souza and contributors.
 * 
 * ---------------------------------------------------------------------
 */

$primary: #d54f58;
$primary-fg: #f3edd3;
$secondary: #113f59;
$secondary-fg: #a9e3e4;
$link-color: #149294;
$mainmenu_bg: #113f59;
$mainmenu_fg: #f3edd3;
$logo: "../pics/logos/logo-GLPI-100-white.png";
$logo_reduced: "../pics/logos/logo-G-100-white.png";

@import "../includes/palette_light";
