/**
 * ---------------------------------------------------------------------
 *
 * Powered by Urich Souza 
 *
 * https://github.com/nihilzin
 *
 * @copyright 2023 Urich Souza and contributors.
 * 
 * ---------------------------------------------------------------------
 */

#tree_browse {
    display: flex;
    align-items: stretch;

    .browser_tree {
        flex-basis: 250px;
        flex-shrink: 0;
        padding-right: 10px;
        padding-left: 2px;

        .browser-tree-container {
            overflow-x: hidden;
            overflow-y: auto;
            flex: 1;

            .fancytree-container {
                overflow-y: auto;

                i.fa.sub_items {
                    color: #787878;
                }
            }
        }

        .browser_tree_search {
            width: 100%;
            margin-bottom: 5px;
            padding: 10px 5px;
            border-radius: 0;
            box-sizing: border-box;
        }
    }

    .browser_items {
        width: 100%;
        margin-left: 5px;

        .tab_cadre_pager {
            width: 100%;
        }
    }
}
