/**
 * ---------------------------------------------------------------------
 *
 * Powered by Urich Souza 
 *
 * https://github.com/nihilzin
 *
 * @copyright 2023 Urich Souza and contributors.
 * 
 * ---------------------------------------------------------------------
 */

@mixin button-check(
    $color,
    $color-hover: color-contrast($color),
    $active-background: $color,
    $active-border: $color,
    $active-color: color-contrast($active-background)
) {
    .btn-check:checked + &,
    .btn-check:active + & {
        color: $active-color;
        background-color: $active-background;
        border-color: $active-border;
    }
}

@each $color, $value in $theme-colors {
    .btn-#{$color} {
        @include button-check($value, $value);
    }
}

@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
        @include button-check($value);
    }
}
