/**
 * ---------------------------------------------------------------------
 *
 * Powered by Urich Souza 
 *
 * https://github.com/nihilzin
 *
 * @copyright 2023 Urich Souza and contributors.
 * 
 * ---------------------------------------------------------------------
 */

.fileupload:not(.only-uploaded-files) {
    text-align: center;
    border: 1px dashed #ccc;
    background: #cccccc1c;
    min-height: 65px;
    border-radius: 5px;
    padding: 0.5em;
    margin: 5px auto 0.5em;
    width: 100%;

    input[type="file"] {
        width: auto;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.fileupload.only-uploaded-files input[type="file"] {
    display: none;
}

.fileupload_info {
    margin-bottom: 10px;
}

.draghover {
    background: #fbf8df;
}
