/**
 * ---------------------------------------------------------------------
 *
 * Powered by Urich Souza 
 *
 * https://github.com/nihilzin
 *
 * @copyright 2023 Urich Souza and contributors.
 * 
 * ---------------------------------------------------------------------
 */

.picture_gallery {
    max-height: 300px;
    justify-content: space-between;
}

.pswp-horizontal-gallery {
    figure {
        max-height: 8em;
        width: auto;
        max-width: 200px;
        min-width: 100px;
        justify-content: flex-end;

        span.pswp-trigger {
            height: 50px;
            background-color: var(--dark);
            color: var(--light);
        }

        img {
            max-height: 7em;
        }

        figcaption {
            min-height: 1em;
        }
    }
}
