{#
 * ---------------------------------------------------------------------
 *
 * Powered by Urich Souza 
 *
 * https://github.com/nihilzin
 *
 * @copyright 2023 Urich Souza and contributors.
 * 
 * ---------------------------------------------------------------------
 #}


<div class="alert alert-danger alert-important">
   <div class="d-flex">
      <div class="me-2">
         <i class="fas fa-exclamation-triangle fa-2x"></i>
      </div>
      <div>
         {{ message }}<br>
         <a href="{{ link }}">{{ __('Return to previous page') }}</a>
      </div>
   </div>
</div>

